@import "variables";
@import "mixins";

body {
    width: 100%;
    height: 100%;
    font-family: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
    background-color: black;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    &.team-member-img {
        padding: 10px;
    }
    &.team-name {
        padding: 15px;
    }
}

h1 {
    text-transform: none;
}

h3 {
    margin: 0px;
}

h4 {
    font-weight: initial;
    text-transform: none;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
    @media(min-width:768px) {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: $primary;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover,
    &:focus {
        text-decoration: none;
        color: darken($primary,20%);
    }
}


.navbar-custom {
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: black;
    padding: 0px;
    .navbar-toggle {
        padding: 4px 6px;
        font-size: 16px;
        color: white;
        &:focus,
        &:active {
            outline: none;
        }
    }
    .navbar-brand {
        font-weight: 700;
        &:focus {
            outline: none;
        }
    }
    a {
        color: white;
    }
    .nav {
        li {
            a {
                &:hover {
                    color: rgba(white, 0.8);
                    outline: none;
                    background-color: transparent;
                }
                &:focus,
                &:active {
                    outline: none;
                    background-color: transparent;
                }
            }
            &.active {
                outline: none;
                a {
                    background-color: rgba(white, 0.3);
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
    @media(min-width:768px) {
        padding: 0px;
        border-bottom: none;
        letter-spacing: 1px;
        background: rgba(black, 0.7);
        -webkit-transition: background 0.5s ease-in-out;
        -moz-transition: background 0.5s ease-in-out;
        transition: background 0.5s ease-in-out;
        &.top-nav-collapse {
            background: black;
            -webkit-transition: background 0.5s ease-in-out;
            -moz-transition: background 0.5s ease-in-out;
            transition: background 0.5s ease-in-out;
        }
    }
}

.intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    background: url(../img/intro-bg.png) no-repeat bottom center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .intro-body {
        flex: 1;
        display: flex;
        align-items: center;
        .brand-heading {
            font-size: 80px;
            text-shadow: 0px 0px 50px #FFFFFF;
            font-family: "Cutive Mono", monospace;
        }
        .intro-text {
            font-size: 18px;
        }
    }
    @media(min-width:768px) {
        .intro-body {
            .brand-heading {
                font-size: 125px;
            }
            .intro-text {
                font-size: 26px;
            }
        }
    }
}
    
    .intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    background: url(gallery-2.png) no-repeat bottom center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .intro-body {
        flex: 1;
        display: flex;
        align-items: center;
        .brand-heading {
            font-size: 80px;
            text-shadow: 0px 0px 50px #FFFFFF;
            font-family: "Cutive Mono", monospace;
        }
        .intro-text {
            font-size: 18px;
        }
    }
    @media(min-width:768px) {
        .intro-body {
            .brand-heading {
                font-size: 125px;
            }
            .intro-text {
                font-size: 26px;
            }
        }
    }
}


    
.bg-image {
  /* Full height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


/* Images used */
.img1 { background-image: url("gallery-2.png"); }
.img2 { background-image: url("img_girl.jpg"); }
.img3 { background-image: url("img_lights.jpg"); }
.img4 { background-image: url("img_nature.jpg"); }
.img5 { background-image: url("img_forest.jpg"); }
.img6 { background-image: url("img_woods.jpg"); }
}
